version: '3'

services:
  web:
    build: .
    container_name: electronic_exam_web
    command: python manage.py runserver 0.0.0.0:9000
    ports:
      - "9000:9000"
    depends_on:
      - db
    volumes:
      - .:/app
      - ./media:/app/media
    networks:
      - exam_net
    env_file:
      - .env

  db:
    image: postgres:latest
    container_name: electronic_exam_db
    env_file:
      - .env
    ports:
      - "5435:5432"
    networks:
      - exam_net

networks:
  exam_net:
