Django==3.2
django-q>=1.3.7,<2.0
djangorestframework==3.12.4
psycopg2-binary
weasyprint
numpy
opencv-python
PyPDF2
PyMuPDF
pdfplumber
python-docx
pandas
openpyxl
openai
python-dotenv
gunicorn
whitenoise

