Django==4.2
django-q==1.3.6
Pillow==10.0.0
numpy==1.24.4
opencv-contrib-python-headless==4.7.0.72
djangorestframework==3.12.4
psycopg2-binary
weasyprint
opencv-python
PyPDF2
PyMuPDF
pdfplumber
python-docx
pandas
openpyxl
openai
python-dotenv
gunicorn
whitenoise
